<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TreeController Controller</title>
    <link rel="stylesheet" href="static/video.css">
</head>
<body>
    <h2>TreeController Controller</h2>
    <button class="putReqs" id="enableRandomFade">Enbale Random Fade</button><br>
    <button class="putReqs" id="disableRandomFade">Disable Random Fade</button><br>
    <button class="putReqs" id="off">Strip Off</button><br>
    <label class="setLED" for="setInd">set LED calibration</label><input class="setLED" id="setInd" type="number" min=0 max=400>
    <button class="setLED" id="setBut">set</button><br>
    <button id="theater">theater chase</button>
    <br>
    <br>
    <div class="select">
    <label for="audioSource">Audio source: </label><select id="audioSource"></select>
    </div>
    <div class="select">
    <label for="videoSource">Video source: </label><select id="videoSource"></select>
    </div>
    <div class="videoViewers">
        <video class="videoViewer" id="liveView" autoplay muted playsinline></video>
        <img class="videoViewer" id="imageCap">
    </div><br />
    <button id="capPic">capture image</button>
    <button id="getSettings">get settings</button>
    <br>
    <div id="cameraSettings"></div>

    <script type="text/javascript" src="static/buttonDriver.js"></script>
    <script type="text/javascript" src="static/cameraController.js"></script>
</body>
</html>
